h1 {
	font-size: 15px;
	font-weight: bold;
	color: #BC1D00;
	text-align:center;
}

body {
	background-color: #F2F2F2;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/